<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "What's your nick?" %><br>
    <%= f.text_field :name, required: true %>
  </div>

    <%= f.hidden_field :score, :class => 'score_input' %>
  <div class="actions">
    <%= f.submit 'Check board', :class => 'check_score' %>
  </div>
<% end %>
